.topic-add {
  width: 100%;

  .actions {
    display: block;
    float: left;
    width: 200px;

    button {
      display: block;
      margin-bottom: 20px;
    }
  }

  .inputs {
    margin-left: 200px;

    .title {
      width: 300px;
    }

    .description {
      width: 400px;
    }

  }

}